@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #eee;
  --secondary-color: #aaa;
  --light-color: #fff;
  --dark-color: #000;
  --border-color: #ccc;
  --text-font: 'Roboto', 'serif';
  --text-color: #555;
}

body {
  padding: 70px 0 60px;
  color: var(--text-color);
  font: 400 14px var(--text-font);
  background-color: var(--primary-color);
}

header,
footer {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: var(--light-color);
  border-bottom: solid 1px var(--border-color);
}

footer {
  top: auto;
  bottom: 0;
  padding: 10px 0;
  border-top: solid 1px var(--border-color);
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#logo {
  color: var(--dark-color);
  font: 900 1.5rem/3rem var(--text-font);
}

.icon-logo {
  font-size: 1.75rem;
  margin-inline-end: 10px;
}

.icon-menu {
  font-size: 1.5rem;
}

#menu {
  display: none;
  width: 100%;
  flex-direction: column;
  text-transform: capitalize;
}

#menu a {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-color);
  border-top: solid 1px var(--border-color);
}

#list-block {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr;
}

#list-block li {
  padding: 10px;
  overflow: hidden;
  background-color: var(--light-color);
  border-radius: 5px;
}

.list-image {
  width: 100%;
  background: url(./blank.jpg) transparent no-repeat center/cover;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
}

.list-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0;
}

.list-title,
#popup-title,
#popup-list-title,
#popup-form-title {
  color: var(--dark-color);
  font: 700 1.25rem var(--text-font);
}

.list-likes {
  width: 80px;
  text-align: center;
  display: block;
  padding: 5px;
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--light-color);
  background-color: red;
  border-radius: 5px;
  margin: 5px 0 10px;
}

.icon-likes {
  font-size: 1rem;
  margin-inline-start: 10px;
}

.list-buttons {
  padding: 5px 18px;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  border: solid 1px var(--secondary-color);
  border-radius: 5px;
  margin-inline-end: 5px;
}

#popup,
#loader {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  overflow: auto;
  inset-inline: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

#popup-block {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin: auto;
  clip-path: circle(0);
  transition: all 0.5s ease-in-out;
}

#popup-close {
  align-self: flex-end;
  font-size: 2rem;
}

#popup-image {
  background: url(./blank.jpg) transparent no-repeat center/cover;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
}

#popup-list-title,
#popup-form-title {
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
}

#popup-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

#popup-list li {
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.popup-form {
  display: none;
  gap: 10px;
  flex-direction: column;
}

.popup-form input,
.popup-form textarea {
  padding: 8px;
  font: 1rem var(--text-font);
  border: solid 1px var(--border-color);
  border-radius: 5px;
  resize: none;
}

.popup-form button {
  height: 40px;
  font: 700 1rem var(--text-font);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

#loader {
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.icon-loader {
  color: #000;
  font-size: 10vw;
  animation: rotation 1s linear infinite;
}

.container {
  padding: 0 10px;
}

.body-scroll {
  overflow: hidden;
}

.menu-active {
  color: var(--dark-color) !important;
}

.menu-visible,
.loader-visible {
  display: flex !important;
}

.popup-visible {
  display: block !important;
}

.popup-clip {
  clip-path: circle(100%) !important;
}

.form-visible {
  display: flex;
}

@media only screen and (min-width: 768px) {
  nav {
    height: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .icon-menu {
    display: none;
  }

  #menu {
    width: auto;
    display: flex;
    gap: 30px;
    flex-direction: row;
  }

  #menu a {
    border: 0;
  }

  #list-block {
    grid-template-columns: repeat(3, 1fr);
  }

  #popup-block {
    max-width: 500px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
  }

  #menu a:hover {
    color: var(--dark-color);
  }

  .list-buttons:hover {
    background-color: var(--secondary-color);
  }
}

@keyframes rotation {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}
