* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

@media only screen and (min-width: 768px) {
  body {
    max-width: 1000px;
    margin: auto;
  }
}
